.clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.clients__list{
    list-style: none;
    padding-left:0;
    padding-top: 30px;

    display: flex;
    flex-wrap:wrap;
    margin-top: -30px;
    margin-left: -30px;

    & li{
        flex-basis: calc(100%/2 - 30px);
        margin-top: 30px;
        margin-left: 30px;  
    }
}

.clients__icon{
    fill:$clients-fill-color;
    height:92px;
    width: 100%;
    }

.clients__link{
    border: 1px solid $clients-fill-color;
    box-sizing: border-box;
    border-radius: 4px;

    display:flex;
    justify-content: center;
    align-items: center;

    &:hover{
        border-color:$main-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;  
        

        &:hover svg{
    fill:$main-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;      
    }
    }
}

@media screen and (min-width: 480px) {

.clients__list{
    & li{
        flex-basis: calc(100%/3 - 30px);
        }
    }
}

@media screen and (min-width: 820px) {
   
.clients__list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-left: 0; 
    & li{
        flex-basis: none;
        margin-top: 0;
        margin-left: 0;
    }
        & :not(:last-child){
            margin-right:30px;
        }   
    }
}
