.clients{
    display:flex;
    align-items: center;
    justify-content: center;
    }

.clients__list{
    list-style: none;
    display:flex;
    padding-left:0;
    }

.clients__list li:not(:last-child){
    padding-right:20px;
    }

.clients__icon{
    fill:$clients-fill-color;
    }

.clients__link{
    width: 170px;
    height: 92px;

    border: 1px solid $clients-fill-color;
    box-sizing: border-box;
    border-radius: 4px;

    display:flex;
    justify-content: center;
    align-items: center;

    &:hover{
        border-color:$main-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;  
        

        &:hover svg{
    fill:$main-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;      
    }
    }
}


