
.description__list{
    list-style: none;
    padding: 0;
}

.description__item:not(:last-child){
    margin-bottom:30px;
}

.description__box{
    border-radius: 4px;
    background: $fourth-color;
    width:100%;
    height:120px;
    display:flex;
    justify-content: center;
    align-items:center;   
    }

.description__title{
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-color;

    display: flex;
    justify-content: center;
    }

.description__text{
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $fifth-color;    
    }  


@media screen and (min-width: 480px) {
.description__list{
    display:flex;  
    flex-wrap:wrap;
    margin-top: -30px;
    margin-left: -30px;
}
    
.description__item{
    flex-basis: calc((100% / 2) - 30px);
    margin-top: 30px;
    margin-left: 30px;
    &:not(:last-child){
        margin-bottom: 0;
      }
    }
}

@media screen and (min-width: 768px) {
.description__list{
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    margin:0;
}

.description__item{
    flex-basis: none;
    margin-top: 0;
    margin-left: 0;
    
    &:not(:last-child){
        margin-right: 30px;
        }
    }
}