.footer{
    height: 252px;
    background: #2F303A;
    }
    
.footer__div{
    display:flex;
    align-items: baseline;
    justify-content: space-evenly;   
    }

.footer-contact{
    display:flex;
    flex-direction: column;
    }
        
.address{
    width: 246px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom:9px;
    }
        
.footer-contact__mail{
    width: 231px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom:9px;
    text-decoration: none;  
    }
        
.footer-contact__tel{
    width: 231px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;      
    }
        
.join-us{
    display:flex;
    flex-direction:column;
    }

.h-join-us{   
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
    }

.social-media-footer {
    list-style: none;
    display:flex;
    padding:0;

    & li:not(:last-child){
        padding-right:10px;
        }
    }
    

    
    
.social-media-footer__icon {
    fill:#FFFFFF
    }
    
.social-media-footer__link{
    width:44px;
    height:44px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;

    &:hover{
        background: #2196F3;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;   
        }
    }
    

    
.newsletter__header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    }
    
.newsletter__form{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
.newsletter__form form{ 
    padding-right: 12px;
    }
    
.newsletter__mail{
    width: 358px;
    height: 50px;
            
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    background:transparent;
    padding-left:16px;
    
    &::placeholder{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6); 
        }
    }
    

    
.newsletter__btn{
    width: 200px;
    height: 50px;
            
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    fill:#FFFFFF
    }