.header{
    border-bottom:1px solid $header-border-color;
    }
    
.header__box{
    display:flex;
    justify-content: space-between;
    height:80px;
    }

.header-contact{
    display:flex;
    align-items: center;
        
    font-family: $main-font,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    & a:first-child{
        margin-right: 20px; 
    }
}
               
.header-contact-mail{
    text-decoration:none;
    color: $fifth-color;

    &:hover{
        color: $main-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

        &:hover svg{
    fill: $main-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;   
        }
    }
}
              
.header-contact-mail__icon{
    fill: $fifth-color;    
    }
               
.header-contact-tel{
    text-decoration:none;
    color: $fifth-color;

    &:hover{
        color: $main-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

        &:hover svg{ 
    fill:$main-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;   
        } 
    }
}
        

        
     