.navigation{
    background-color: #fff;
    color: $secondary-color;
    
    font-family: $main-font,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    display:flex;
    align-items: center;
    }
    
.navigation ul{
    display:flex;
    justify-content: space-between;
    flex-basis: calc(100%/3);
    }
    
.navigation__menu li{
    list-style: none;
    padding-right: 20px; 
    display: none;
    }
    
.navigation__menu a{
    text-decoration:none;
    }
    
.navigation__link{
    color:#212121
    }
    
.navigation__menu a:hover{
    color: $main-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    }
    
.navigation__link--current-page{
    position:relative;
    color:#2196F3 
    }
    
.navigation__link--agency::after{
    content:"";
    
    width: 53px;
    height: 4px;
    
    background: $main-color;
    border-radius: 2px;
    
    display:block;
    position:absolute;
    top: 45px;
    }
    
.navigation__link--portfolio::after{
    content:"";
    
    width: 58px;
    height: 4px;
    
    background: $main-color;
    border-radius: 2px;
    
    display:block;
    position:absolute;
    top: 45px;
    }

@media screen and (min-width: 590px) {
.navigation__menu li{
    display: inline;
    }
}

