.portfolio-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -15px;
    list-style: none;
    padding-left:15px;
  }
  
.portfolio-buttons__item {
    margin-top: 15px;
    text-decoration: none;
  
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  
.portfolio-buttons__btn {
    max-width: 100%;
    padding: 6px 28px;
    border: 0;
    border-radius: 4px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: $fourth-color;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: $third-color;
      background-color: $main-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }   
    
@media screen and (min-width: 480px) {

.portfolio-buttons{
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
    margin-top: 0;
    }
}


@media screen and (min-width: 768px) {

.portfolio-buttons__item{
    margin-top: 0;
}
}