.team{
    height: 648px;
    background: #F5F4FA; 
    padding: left 80px;
    }
    
    .team__header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; 
    
    display:flex;
    justify-content:center;
    }
    
    .team__list {
    display:flex;
    list-style: none;
    justify-content:space-evenly;
    align-items:center;
    padding-left:0;
    }
    
    .team__figure{
    width: 270px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }
    
    .team__name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    }
    
    .team__position{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;    
    }