.form{
    max-width:450px;
    display:flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
    }
    
.form__header{
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    
    letter-spacing: 0.03em;
    
    
    color: $secondary-color;
    
    display:flex;
    justify-content: center;
    margin:0;
    }
    
.form__label{
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17px;
    
    letter-spacing: 0.01em;
    
    color: $fifth-color;
    }
.form__input{
    max-width: 370px;
    height: 40px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 15px;

    padding: 12px 0px 12px 42px;
    outline:none;
}    
.form__input--firstname{
    background-image: url(../images/form-name.svg);
   
    &:focus{
    border: 1px solid $main-color;
    
    background-image: url(../images/form-name-focus.svg); 
    
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    }}
    
.form__input--telephone{
    background-image: url(../images/form-tel.svg);
    
    &:focus{
    border: 1px solid $main-color;
    
    background-image: url(../images/form-tel-focus.svg);
  
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    }}
    
.form__input--email{
    background-image: url(../images/form-mail.svg);
    
    &:focus{
    border: 1px solid $main-color;
    
    background-image: url(../images/form-mail-focus.svg);
  
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    }}
    
.form__textarea--comment{
    max-width: 370px;
    height: 120px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    
    outline:none;
    
&:focus{
    border: 1px solid $main-color;
    
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    }}

.form__textarea--comment::placeholder{
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    padding:16px;
    
    color: rgba(117, 117, 117, 0.5);   
}
       
.form__user-policy--text{
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    
    
    letter-spacing: 0.03em;
    
    color: $fifth-color;  
    
    & a{
        color: $main-color;
    }}

.form__user-policy--text::before{
    content:"";
    
    display:inline-block;
    
    width:16px;
    height:15px;
    
    border-radius: 2px;
    border: 2px solid $secondary-color;
}
    
.form__user-policy:checked + .form__user-policy--text::before{
    background-color: $main-color;    
    border-radius: 2px;
    background-image: url(../images/checkbox.svg) ;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    }

.form__submit-btn{
    width: 200px;
    height: 50px;
        
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: $third-color;
    align-self:center
    }