.logo{
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    
    line-height: 1.19; 
    text-decoration: none;
    list-style:none;
    padding-left:0px;
    letter-spacing: 0.03em;
    
    color: $main-color;
    
    display:flex;
    }
    
.logo__link{
    color: $secondary-color;
    }

.logo__link--footer{
    color:#fff;
    }