.modal{
    width: 528px;
    height: 581px;
    
    background: $third-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
    
    position:absolute;
    z-index:1;
    
    display:flex;
    justify-content:flex-end;
    
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    }

.is-hidden{
    opacity:0;
    visibility:hidden;
    pointer-events: none;
    
    & .modal{
        transform: translate3d(0 , -2rem, 0);
        opacity: 0;   
        }}
    


.modal__close-btn{
    position: absolute;
    width: 30px;
    height: 30px;
    
    background: $third-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  
    border-radius: 50%; 
    }
        
    