.social-media{
    list-style: none;
    display:flex;
    justify-content: center;
    padding:0;
    max-width: 100%;

    
    & li:not(:last-child){
        padding-right:10px;   
        }
}

.social-media__icon{
    fill:#AFB1B8
    }

.social-media__icon--footer {
    fill:$third-color
    }

.social-media__link{
    width:44px;
    height:44px;
    background-color:$third-color;
    border-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    
    &:hover{
        background: $main-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;  
    
    & svg{
    fill: $third-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;  
}    
}
}

.social-media__link--footer{
    background-color:rgba(255, 255, 255, 0.1);
}