$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$main-color: #2196F3;
$secondary-color: #212121;
$third-color: #ffffff;
$fourth-color: #f5f4fa;
$fifth-color: #757575;
$footer-bg-color: #2f303a;
$header-border-color: #ececec;
$clients-fill-color: #afb1b8;
$porftolio__list-border-color:#eeeeee;



